.list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.total {
  font-weight: 600;
  font-size: larger;
}

.order {
  position: absolute;
  bottom: 100px;
}

.empty {
  text-align: center;
}
