.navList {
  display: flex;
}

.listItem {
  width: 140px;
  height: 50px;
  list-style: none;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}

.listItem:hover {
  background-color: rgb(58, 182, 141);
}

@media screen and (max-width: 768px) {
  .navList {
    flex-direction: column;
    line-height: 30px;
  }
}
