.item {
  list-style: none;
  padding: 20px;
  box-shadow: 0 0 3px 3px rgb(194, 190, 190);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin-right: auto;
}

.remove {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-left: 15px;
}
